<!DOCTYPE html>
<html>
  <head>
    <title>Matrículas</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      .form-group {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 15px;
        padding: 20px;
      }
      body {
        background: linear-gradient(to right, #3a7bd5, #61d6f1);
        color: white;
      }
    </style>
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center">Sistema de Matrículas</h1>
      <hr />

      <form id="formPaso" action="/confirmacion" method="post">
        <div>
          <h3>Seleccione un curso:</h3>
          <div class="form-group"style="width: 20rem;">
            <label for="curso">Curso:</label>
            <div >
              <select class="form-control form-control" id="curso" name="curso">
                <option value="Java">Java</option>
                <option value="PHP">PHP</option>
                <option value=".NET">.NET</option>
              </select>
            </div>
          </div>
        </div>
        <div class="p-2">
          <h3>Seleccione los módulos que llevará:</h3>
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="basico"
              name="nivel"
              value="Básico"
            />
            <label class="form-check-label" for="basico">Básico</label>
          </div>
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="intermedio"
              name="nivel"
              value="Intermedio"
            />
            <label class="form-check-label" for="intermedio">Intermedio</label>
          </div>
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="avanzado"
              name="nivel"
              value="Avanzado"
            />
            <label class="form-check-label" for="avanzado">Avanzado</label>
          </div>
        </div>
        <div class="p-2">
          <h3>Seleccione el medio de pago:</h3>
          <div class="form-check">
            <input
              type="radio"
              class="form-check-input"
              id="tarjeta"
              name="medioPago"
              value="Tarjeta de crédito"
            />
            <label class="form-check-label" for="tarjeta"
              >Tarjeta de crédito</label
            >
          </div>
          <div class="form-check">
            <input
              type="radio"
              class="form-check-input"
              id="efectivo"
              name="medioPago"
              value="Pago en efectivo"
            />
            <label class="form-check-label" for="efectivo"
              >Pago en efectivo</label
            >
          </div>
          <div class="p-2">
            <button type="submit" class="btn btn-success">
              Confirmar Matrícula
            </button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
